<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../partials/head.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <div class="row">
    <h1 class="col s4 offset-s1">Directors</h1>
    <a href='/directors/new'><button class="btn-large col s4 offset-s4">create a new director</button></a>
  </div>
  <div class="row">
  <div class="collection">
    <% directors.forEach(function(director) { %>
    <div class="collection-item center blue-grey lighten-1">
      <span><a class="white-text" href="<%= '/directors/' + director.id %>"><%= director.name %></a></span>
    </div>
    <% }) %>
  </div>
  </div>
</body>
</html>

