<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Edit movie: <%= movie.title %></h1>
    <form action="" method="PUT">
      <label>
        Title:
          <input name="" placeholder=' <%= movie.title %>'>
      </label>
      <label>
        Synopsis:
          <textarea name="" placeholder= '<%= movie.synopsis %>'></textarea>
      </label>
      <label></label>
      <label></label>
      <button type='submit'>submit</button>
  </body>
</html>
