<!DOCTYPE html>
<html>
  <head>
    <title> <%= title %> </title>
    <% include ../partials/head.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="row">
      <h2 class="col s10 offset-s1">Add a New Movie</h2>
    </div>
    <div class="row">
      <form class="col s12" action="/movies" method="POST">
        <div class="col s12">
          <label>Title:</label>
          <input name="title" placeholder="What's the title?">
        </div>
        <div class="col s12">
          <label>Synopsis:</label>
            <input name="synopsis" placeholder='What is the synopsis?'></input>
          <button class="btn" type='submit'>submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
